@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200&display=swap');
*{
    margin: 0;
    padding:0;
}
.shapka{
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: space-around;
    position:fixed;
    width:100%;
}
	.shapka li { display: inline; }
	.shapka a {
	  color: #fff;
	  padding: 5px 47px;
	  text-decoration: none;
	  font-weight: bold;
	  display: inline-block;
	  width: 100px;
	}
	.shapka a:hover{
        border-radius: 20px 5px;
        background-color:gray;
      }

.nav_list{
display: flex;
color: white;
list-style-type: none;
width: 741px;
justify-content: space-around;
}
a{
    color: white;
    text-decoration: none;
    font-size:25px ;
}
img_header>img{
    margin-left: 10px;

}
body{
    background-color:#760202;
    background-image: url(images/fon.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.banner{
	font-weight: 70px;
    margin-left:700px ;
    font-size:50px;  
    padding: 20% 5%;
	font-family: Arial;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 
		-0   -5px 1px #000000,
		 0   -5px 1px #000000,
		-0    5px 1px #000000,
		 0    5px 1px #000000,
		-5px -0   1px #000000,
		 5px -0   1px #000000,
		-5px  0   1px #000000,
		 5px  0   1px #000000,
		-1px -5px 1px #000000,
		 1px -5px 1px #000000,
		-1px  5px 1px #000000,
		 1px  5px 1px #000000,
		-5px -1px 1px #000000,
		 5px -1px 1px #000000,
		-5px  1px 1px #000000,
		 5px  1px 1px #000000,
		-2px -5px 1px #000000,
		 2px -5px 1px #000000,
		-2px  5px 1px #000000,
		 2px  5px 1px #000000,
		-5px -2px 1px #000000,
		 5px -2px 1px #000000,
		-5px  2px 1px #000000,
		 5px  2px 1px #000000,
		-3px -5px 1px #000000,
		 3px -5px 1px #000000,
		-3px  5px 1px #000000,
		 3px  5px 1px #000000,
		-5px -3px 1px #000000,
		 5px -3px 1px #000000,
		-5px  3px 1px #000000,
		 5px  3px 1px #000000,
		-4px -5px 1px #000000,
		 4px -5px 1px #000000,
		-4px  5px 1px #000000,
		 4px  5px 1px #000000,
		-5px -4px 1px #000000,
		 5px -4px 1px #000000,
		-5px  4px 1px #000000,
		 5px  4px 1px #000000,
		-5px -5px 1px #000000,
		 5px -5px 1px #000000,
		-5px  5px 1px #000000,
		 5px  5px 1px #000000,
		-5px -5px 1px #000000,
		 5px -5px 1px #000000,
		-5px  5px 1px #000000,
		 5px  5px 1px #000000;
}


.pustota{
    height: 60px;
}

.istoriya{
	height: fit-content;
background-color: #F2E8C4 ;
margin:0;
}
.istoriya>h1{
    color: #000000;
    text-align: center;
    font-size: 80px;
    margin: 10px;
	
   
}
.istoriya>h3{
    font-family: 'Geologica', sans-serif;
    font-size: 27px;
    margin: 30px;
    
}
.istoriya>img{
    margin: 10px auto 20px;
    display: block;
}
.pusto{
    height: 20px;
}
.pusto2{
    height: 20px;
}
.pusto3{
	height:200px;
}
.pusto4{
height: 100px;
}
.special{
	margin: 0;
	height: fit-content;
    background-color: #760202;
}
.special>h1{
    text-align: center;
    font-size: 80px;
    margin:10px;
}
.special>ul{
	font-family: 'Geologica', sans-serif;
    font-size: 27px;
    margin: 40px;
}
.special>ul,h1{
   
	font-weight: bold;
	color: #FFFFFF;
	
}
.special>img{
    margin: 10px auto 20px;
    display: block;
}
#final{
	background-image: url(images/end1.png);
  background-attachment: fixed;
  padding:15% 30%;
}
#order{
	padding:10px;
   background-color: white;
   text-align:center; 
   font-size:30px;
   border: 4px solid black;
}
#order{
  background-color:black;
  padding: 10px 0;
   text-align:center;
   color: white;
}
.footer{
  padding: 10px;
  background-color:black;
  text-align:center;
  font-size: 30px;
  color: white;
}